.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
    color: black;
    transition: all 0.2s;
}

.form-control input {
    border: 1px grey solid;
    border-radius: 5px;
    padding-left: 0.4rem;
    height: 30px;
    transition: all 0.1s;
}

.form-control label {
    margin-bottom: 0.15rem;
}

.form-control p {
    margin-left: 0.5rem;
    color: rgb(68, 68, 68);
    margin-top: 0.35rem;
    font-size: small;
}

.form-control input:focus {
    outline: none;
    background: rgb(243, 233, 255);
    border-color: rgb(149, 0, 255);
}

.form-control input:hover {
    border-color: rgb(214, 158, 253);
}

.form-control.invalid input {
    background: rgb(255, 235, 235);
    border-color: rgb(255, 53, 53);
}

.form-control.invalid label {
    color: rgb(190, 1, 1);
    font-weight: 500;
}

.form-control.invalid input:focus {
    outline: none;
    background: rgb(243, 233, 255);
    border-color: rgb(149, 0, 255);
}

.form-control.invalid input:hover {
    border-color: rgb(214, 158, 253);
}